* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}
:root {
  --bg: #252a34;
  --white: #f1f1f1;
  --green: #38d1ac;
  --purple: #b154a8;
}
body {
  background: var(--bg);
  overflow-x: hidden;
}
header {
  height: auto;
  width: 100vw;
  padding-top: 5%;
  padding-bottom: 5%;
}
header::after {
  content: "";
  background: url(../img/bg-people-mobile.jpg);
  background-repeat: no-repeat;
  min-height: 92%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.05;
}
.aspan {
  color: var(--purple);
}
.ospan {
  color: var(--green);
}
.top {
  margin-left: 10%;
  display: flex;
  align-items: center;
}

/* this the main container both hero and text */
.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-two {
  display: none;
}

/* hero and text styling */
.hero,
.text,
.form,
.socials {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 10%;
}
.socials {
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.social-flex a {
  margin-left: 48%;
}
.social-flex a:nth-child(1) {
  margin-bottom: -20px;
  margin-left: 15%;
}
/* might delete later */
.social-flex a:nth-child(2) {
  margin-right: 20%;
}

.form {
  margin-top: 6%;
  padding-left: 0;
  padding-right: 0;
}
.coming-soon {
  font-size: 2.5em;
  text-align: center;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.desc {
  font-size: 1.2em;
  text-align: center;
  color: var(--white);
  font-family: "Oxanium", sans-serif;
  margin-top: 12%;
  font-weight: 100;
}
input[type="email"] {
  font-family: "Oxanium", sans-serif;
  font-size: 1.025em;
  padding: 3% 5%;
  color: var(--white);
  background: var(--bg);
  margin-top: 10%;
  font-weight: 100;
  border: none;
  opacity: 1;
  background: rgba(114, 119, 118, 0.07);
}
.form button {
  background: transparent;
  color: var(--white);
  padding: 3% 6%;
  width: 150px;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  font-family: "Montserrat", sans-serif;
  border: 2px solid var(--green);
}
.form button:hover {
  cursor: pointer;
  background: var(--green);
}

@media screen and (min-width: 620px) {
  /* header {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  } */
  header {
    padding-top: 3%;
  }
  .section-one {
    display: none;
  }
  .section-two {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
  .hero-two,
  .text-two {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
  }
  .text-two {
    padding-right: 5%;
  }
  .hero-two img {
    width: 80%;
  }
  .socials-two {
    position: absolute;
    right: 10%;
    top: 45%;
  }
  .social-flex-two a {
    margin-right: auto;
  }
  .coming-soon-two {
    font-size: 2.5em;
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-top: 25%;
  }
  .desc-two {
    font-size: 1.2em;
    color: var(--white);
    font-family: "Oxanium", sans-serif;
    margin-top: 12%;
    font-weight: 100;
  }
  .form-two {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .form-two button {
    background: transparent;
    color: var(--white);
    padding: 3% 6%;
    width: 160px;
    font-size: 1em;
    margin-right: auto;
    margin-top: 6%;
    font-family: "Montserrat", sans-serif;
    border: 2px solid var(--green);
  }
  .form button:hover {
    cursor: pointer;
    background: var(--green);
  }
}
@media screen and (min-width: 860px) {
  header::after {
    background: url(../img/bg-people.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .form-two button {
    width: 200px;
  }
}
